.external-style-paragraph {
	color: #CBD2D0;
}

* {
	font-family: "Courier New", monospace;
	font-size: 1rem;
}

h1 {
	font-size: 1.5rem;
}

#h2 {
	text-transform: uppercase;
}

.language {
	background-color: #CBD2D0;
}

.tool {
	border: 2px solid #F0E100;
}


/*UNFINISHED*/
img + ul {
	list-style-type: none;
}

section img {
	width: 150px;
	height: 150px;
	border-radius: 50px;
}

h4 ~ p {
	text-align: center;
}

body > section > ul > li {
	letter-spacing: 5px;
}